<%= render 'creatives/navbar' %>

<div class="container">
  <h1 class="text-center">Schedule</h1>
  <hr>
  <p class="text-center">Showing schedule for
    <mark class="bg-primary"><%= @city_name %></mark>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="list-group">
        <% @result['data'].each do |key, array| %>
            <h3 class="text-center"><%= "#{key}" %></h3>
            <% array.each do |attraction| %>
                <a href="<%= @attraction_base_url %><%= attraction['id'] %>" class="list-group-item"><%= attraction['title'] %>
                  <span class="badge">$<%= trim(attraction['price']) %></span></a>
            <% end %>
        <% end %>
      </div>
      <h2 class="text-center">
        <small>Total: $<%= @total_price %></small>
      </h2>
    </div>

  </div>
</div>

<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>
