<%= render 'creatives/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if @user&&@user.isAdmin %>
          <h2>Import Attractions</h2>
          <%= form_tag import_triplaces_path, multipart: true do %>
              <%= file_field_tag :file %>
              <%= submit_tag "Import" %>
          <% end %>
      <% else %>
          <strong>Sorry, you are not admin. You can't import attractions.</strong>
          <%= link_to "back", root_path %>
      <% end %>
    </div>
  </div>
</div>
